@using pdrake.Models.MovieProject
@using System.Collections
@{
    Layout = null;
    IEnumerable<MovieResults> movieResults = (IEnumerable<MovieResults>) ViewData["movies"]; 
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie Streaming Availability App</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/site.css">
</head>
<body>
<main>
    <div class="container">
        <div class="row">
            @foreach (var movie in movieResults)
            {
                <div class="col-3">
                    <img src="https://image.tmdb.org/t/p/w185/@movie.PosterPath">
                    <label>@movie.Title</label>
                </div>
            }
        </div>
    </div>
</main>
<footer>
    <script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="lib/jquery/dist/jquery.js"></script>
</footer>
</body>
</html>