@using pdrake.Models.MovieProject
@using System.Collections
@{
    Layout = null;
    MovieResults movieResults = ViewData["movies"] as MovieResults; 
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie Streaming Availability App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <a asp-controller="Home" asp-action="Index">Home</a>
            </div>
            <div class="col-4">
                <h1>Movie Streaming Availability App</h1>
            </div>
            <div class="dropdown col-4">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropDownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="False">Sort by Genres</button>
                <div class="dropdown-menu" aria-labelledby="dropDownMenuButton">
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="28">Action</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="12">Adventure</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="16">Animation</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="35">Comedy</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="80">Crime</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="99">Documentary</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="18">Drama</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="10751">Family</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="14">Fantasy</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="36">History</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="27">Horror</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="10402">Music</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="9648">Mystery</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="10749">Romance</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="878">Science Fiction</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="10770">TV Movie</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="53">Thriller</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="10752">War</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="37">Western</a>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="row">
            @foreach (var movie in movieResults.Results)
            {
                <div class="col-md-3">
                    <a asp-controller="Movie" asp-action=""><img src="https://image.tmdb.org/t/p/w185/@movie.PosterPath"></a>
                    <label>@movie.Title</label>
                </div>
            }
        </div>
    </div>
</main>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <a class="btn btn-default" role="button" asp-controller="Movie" asp-action="GetMovies" asp-route-page="@movieResults.Page.ToString()">Previous Page</a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
            integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
</footer>
</body>
</html>